/*
 * @Author: Jeremy Hawkins 
 * @Date: 2018-07-30 11:46:31 
 * @Last Modified by: Jeremy Hawkins
 * @Last Modified time: yyyy-07-dd 14:33:32
 */

 header {
   margin: 0;
   padding: 10px;
   text-align: center;
   background-color: $sunshine;
 }