/*
 * @Author: Jeremy Hawkins 
 * @Date: 2018-07-31 11:33:51 
 * @Last Modified by:   Jeremy Hawkins 
 * @Last Modified time: 2018-08-15 17:23:21
 */


 /*
  * HCC Branding Colors
  *
  */
  // Primary
    $sunshine:      #ffb819;
    $stratus:       #ffffff;
    $tuxedo:        #000000;
    $iron:          #55565a;
    $battleship:    #8a8a8d;

  //Secondary
    $bluebonnet:    #0075c9;
    $sky:           #0093c9;
    $memorial:      #009d4e;
    $peridot:       #6cc04a;
    $rocket:        #d9272e;
    $monarch:       #ef7622;
    $mauveine:      #4a0d66;
    $azalea:        #e56385;

